<div class="card">
  <header class="card-header">
    <h1 class="text-center">Ethereum Node Status</h1>
  </header>
  <section class="card-block">
    <table class="table table-sm table-bordered">
      <thead>
      </thead>
      <tbody>
      <tr>
        <th scope="row">Node Version</th>
        <td>{{gethStatus?.clientVersion}}</td>
      </tr>
      <tr>
        <th scope="row">Node IP Address</th>
        <td>{{gethStatus?.publicIp}}</td>
      </tr>
      <tr>
        <th scope="row">Node Location</th>
        <td><img *ngIf="gethStatus?.geoInfo" [src]="getFlagUrl(gethStatus.geoInfo.countryCode)" [title]="getPrettyGeoLocation(gethStatus.geoInfo)" [alt]="getPrettyGeoLocation(gethStatus.geoInfo)" class="flag"/> {{getPrettyGeoLocation(gethStatus?.geoInfo)}}</td>
      </tr>
      <tr>
        <th scope="row">Node Uptime</th>
        <td [title]="gethStatus?.uptime">{{gethUptimeText}}</td>
      </tr>
      <tr>
        <th scope="row">Protocol Version</th>
        <td>{{gethStatus?.protocolVersion}}</td>
      </tr>
      <tr>
        <th scope="row">Listening</th>
        <td>{{gethStatus?.listening}}</td>
      </tr>
      <tr>
        <th scope="row">Connected Peers</th>
        <td>{{gethStatus?.peerCount}}</td>
      </tr>
      <tr>
        <th scope="row">Syncing</th>
        <td>{{gethStatus?.syncing}}</td>
      </tr>
      <tr>
        <th scope="row">Current Block</th>
        <td>{{gethStatus?.blockNumber}}</td>
      </tr>
      <tr>
        <th scope="row">Gas Price (Wei)</th>
        <td>{{gethStatus?.gasPrice}}</td>
      </tr>
      <tr>
        <th scope="row">Disk Usage</th>
        <td>{{getDiskUsage(gethStatus?.diskStats)}}</td>
      </tr>
      <tr>
        <th scope="row">Last Update Received</th>
        <td [title]="gethStatus?.lastUpdated">{{gethStatus?.lastUpdated?.calendar()}}</td>
      </tr>
      <!--<tr>-->
      <!--<td>WebSocket Status</td>-->
      <!--<td id="ws-status">Offline</td>-->
      <!--</tr>-->
      </tbody>
    </table>
    <h2>Peers</h2>
    <table class="table table-sm table-bordered table-striped">
      <thead>
      <tr>
        <th>#</th>
        <th>IP</th>
        <th>Name</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let peer of gethStatus?.peers; let i = index">
        <th scope="row">{{i + 1}}</th>
        <td><img [src]="getFlagUrl(peer.network.remoteGeoInfo.countryCode)" [title]="getPrettyGeoLocation(peer.network.remoteGeoInfo)" [alt]="getPrettyGeoLocation(peer.network.remoteGeoInfo)" class="flag"/> {{peer.network.remoteAddress}}</td>
        <td>{{peer.name}}</td>
      </tr>
      </tbody>
    </table>
  </section>
</div>
