<header>
  <h1>Geth Node Status</h1>
</header>
<section>

  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Name</th>
      <th>Value</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">Geth Version</th>
      <td>{{gethStatus?.clientVersion}}</td>
    </tr>
    <tr>
      <th scope="row">Protocol Version</th>
      <td>{{gethStatus?.protocolVersion}}</td>
    </tr>
    <tr>
      <th scope="row">Listening</th>
      <td>{{gethStatus?.listening}}</td>
    </tr>
    <tr>
      <th scope="row">Peer Count</th>
      <td>{{gethStatus?.peerCount}}</td>
    </tr>
    <tr>
      <th scope="row">Syncing</th>
      <td>{{gethStatus?.syncing}}</td>
    </tr>
    <tr>
      <th scope="row">Block Number</th>
      <td>{{gethStatus?.blockNumber}}</td>
    </tr>
    <tr>
      <th scope="row">Gas Price (Wei)</th>
      <td>{{gethStatus?.gasPrice}}</td>
    </tr>
    <tr>
      <th scope="row">Last Updated</th>
      <td>{{gethStatus?.lastUpdated}}</td>
    </tr>
    <!--<tr>-->
      <!--<td>WebSocket Status</td>-->
      <!--<td id="ws-status">Offline</td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td>IP</td>-->
      <!--<td th:text="${geoInfo.ip}">Unknown</td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td>Location</td>-->
      <!--<td th:text="${geoInfo.countryName + '/' + geoInfo.regionName}">Unknown</td>-->
    <!--</tr>-->
    </tbody>
  </table>
  <h2>Peers</h2>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>#</th>
      <th>IP</th>
      <th>Name</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let peer of gethStatus?.peers; let i = index">
      <th scope="row">{{i + 1}}</th>
      <td>{{peer.network.remoteAddress}}</td>
      <td>{{peer.name}}</td>
    </tr>
    </tbody>
  </table>
</section>
