<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

    <title>Geth Node Status</title>
</head>
<body>
<header>
    <h1>Geth Node Status</h1>
</header>
<section>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Geth Version</td>
            <td id="client-version" th:text="${gethStatus.clientVersion}">-1</td>
        </tr>
        <tr>
            <td>Protocol Version</td>
            <td id="protocol-version" th:text="${gethStatus.protocolVersion}">-1</td>
        </tr>
        <tr>
            <td>Listening</td>
            <td id="listening" th:text="${gethStatus.listening}">-1</td>
        </tr>
        <tr>
            <td># Peers Connected</td>
            <td id="peer-count" th:text="${gethStatus.peerCount}">-1</td>
        </tr>
        <tr>
            <td>Syncing</td>
            <td id="syncing" th:text="${gethStatus.syncing}">false</td>
        </tr>
        <tr>
            <td>Block Number</td>
            <td id="block-number" th:text="${gethStatus.blockNumber}">-1</td>
        </tr>
        <tr>
            <td>Gas Price (Wei)</td>
            <td id="gas-price" th:text="${#numbers.formatInteger(gethStatus.gasPrice, 0, 'COMMA')}">-1</td>
        </tr>
        <tr>
            <td>Last Updated</td>
            <td id="last-updated" th:text="${#dates.format(#dates.createNow(), 'dd MMM yyyy HH:mm:ss')}">never</td>
        </tr>
        <tr>
            <td>WebSocket Status</td>
            <td id="ws-status">Offline</td>
        </tr>
        <tr>
            <td>IP</td>
            <td th:text="${geoInfo.ip}">Unknown</td>
        </tr>
        <tr>
            <td>Location</td>
            <td th:text="${geoInfo.countryName + '/' + geoInfo.regionName}">Unknown</td>
        </tr>
        </tbody>
    </table>
    <h2>Peers</h2>
    <h3>Note: Must refresh page to update peers</h3>
    <table>
        <thead>
        <tr>
            <th>IP</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="peer : ${gethStatus.peers}">
            <td th:text="${peer.network.remoteAddress}">-1</td>
            <td th:text="${peer.name}">-1</td>
        </tr>
        </tbody>
    </table>
</section>
<script th:inline="javascript"> const contextRoot = /*[[@{/}]]*/ ''; </script>
<!-- https://github.com/JSteunou/webstomp-client -->
<script th:src="@{/js/stomp.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script th:src="@{/js/app.js}"></script>
</body>
</html>
